<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/about.css">

    <title>Chad Jessen</title>

</head>

<body>

    <%- include('../partials/topMenu.ejs') %>

    <%- body %> 

    <%- include('../partials/bottomMenu') %> 

</body>
</html>