<!DOCTYPE html>
<html lang="en">

<head>
    
    <%- include('../partials/header.ejs') %>
    
    <link rel="stylesheet" type="text/css" href="/css/index.css">

    <title>Chad Jessen</title>

</head>

<body>

    <%- body %>

    <%- include('../partials/bottomMenu.ejs') %>

</body>
</html>