<!DOCTYPE html>
<html lang="en">

<head>

    <%- include('../partials/header.ejs') %>

    <link rel="stylesheet" type="text/css" href="/css/portfolio.css">

    <title>Chad Jessen</title>

</head>

<body>

    <%- include('../partials/topMenu.ejs') %>

    <%- body %> 

    <%- include('../partials/bottomMenu.ejs') %>

    <script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>

    <script type="text/Javascript" src="/js/portfolio.js"></script>

</body>
</html>