<nav id="bottomMenuNav">

    <ul class="bottomMenuItems">

        <li class="bottomMenuItem"><a href="/">Home</a></li>
    
        <li class="bottomMenuItem hovBottom"><a href="#">Dive In</a>

            <ul class="subMenuBottom">
        
                <li class="bottomMenuItem"><a href="/about">About Me</a></li>

                <li class="bottomMenuItem"><a href="/itExperience">IT Experience</a></li>
            
            </ul>

        </li>
        
        <li class="bottomMenuItem"><a href="/portfolio">Portfolio</a></li>

        <li class="bottomMenuItem"><a href="/skills">Skills</a></li>
        
        <li class="bottomMenuItem"><a href="/contact">Contact</a></li>
    
    </ul>

</nav>