<nav id="topMenuNav">

        <ul class="topName">

            <li class="topMenuItem"><a href="/">Chad Jessen | Full Stack Web Dev</a></li>

        </ul>

        <ul class="topMenuItems">
        
            <li class="topMenuItem"><a href="/">Home</a></li>

            <li class="topMenuItem hovTop"><a href="#">Dive In</a>

                <ul class="subMenuTop">

                    <li class="topMenuItem"><a href="/about">About Me</a></li>
                    
                    <li class="topMenuItem"><a href="/itExperience">IT Experience</a></li>

                </ul>

            </li>
            
            <li class="topMenuItem"><a href="/portfolio">Portfolio</a></li>
            
            <li class="topMenuItem"><a href="/skills">Skills</a></li>
            
            <li class="topMenuItem"><a href="/contact">Contact</a></li>

        </ul>
    
</nav>