<div id="skillsWrapper">

    <section id="profiles">

        <div class="skillsHeader">
            Profiles
        </div>

        <ul class="skillsList">

            <li class="skillsListItem"><a href="https://github.com/madchatthew" target="_blank">Github</a></li>
            <li class="skillsListItem"><a href="https://codepen.io/Madchatthew>"" target="_blank">Codepen</a></li>
            <li class="skillsListItem"><a href="https://www.linkedin.com/in/chad-jessen/" target="_blank">Linkedin</a></li>
        
        </ul>

    </section>
    
    <section id="backend">

        <div class="skillsHeader">
            Backend
        </div>

        <ul class="skillsList">

            <li class="skillsListItem">Nginx</li>
            <li class="skillsListItem">Apache2</li>
            <li class="skillsListItem">Node</li>
            <li class="skillsListItem">NPM</li>
            <li class="skillsListItem">PHP</li>
        
        </ul>

    </section>

    <section id="frameworks">

        <div class="skillsHeader">
            Backend Frameworks
        </div>

        <ul class="skillsList">

            <li class="skillsListItem">Express</li>
            <li class="skillsListItem">EJS</li>
            <li class="skillsListItem">Ember</li>
        
        </ul>

    </section>
    
    <section id="databases">

        <div class="skillsHeader">
            Databases
        </div>

        <ul class="skillsList">

            <li class="skillsListItem">Mongodb</li>
            <li class="skillsListItem">MySql</li>
        
        </ul>
    
    </section>

    <section id="frontend">

        <div class="skillsHeader">
            Front-end
        </div>

        <ul class="skillsList">

            <li class="skillsListItem">HTML5</li>
            <li class="skillsListItem">CSS</li>
            <li class="skillsListItem">Javascript</li>

        </ul>

    </section>

    <section id="designLibraries">

        <div class="skillsHeader">
            Design Libraries
        </div>

        <ul class="skillsList">

            <li class="skillsListItem">Bootstrap</li>
            <li class="skillsListItem">Semantic-ui</li>
            
        </ul>

    </section>
    
</div>