<div id="itExperienceContent">

    <div class="experienceTitle">

        <h1>IT Experience</h1>

        <p class="itDateExperience">04/97 to present</p>

    </div>

    <div class="onGoing">

       <h2>Self Taught</h2> (Ongoing)

        <h3>Full Stack Web developer</h3>

        <ul class="duties">
            <li>HTML</li>
            <li>CSS</li>
            <li>Javascript</li>
            <li>Nodejs</li>
            <li>Ubuntu Server - Latest LTS version</li>
            <li>NGINX</li>
            <li>DigitalOcean for hosting</li>
            <li>Virtualbox</li>
            <li>Continue my passion for learning every day</li>
            <li>Drink lots of coffee and Pepsi</li>
            <li>Try not to pull all of my hair out at times</li>
            <li>Celebrate small and big victories alike</li>
            <li>Learn from mistakes and failures</li>
        </ul>

        <hr />

    </div>

    <div class="job">

        <h2>CSI Computers</h2> (06/04 to 05/06)

        <h3>IT Technician</h3>

        <ul class="duties">
            <li>Service PCs</li>
            <li>Service servers</li>
            <li>Install/maintain networks, network cabling, computers and servers</li>
            <li>Setup cable modems in residential and businesses</li>
            <li>Work with customers directly and/or over the phone</li>
        </ul>

        <hr />

    </div>


    <div class="job">

        <h2>Newman Signs</h2> (01/04 to 06/04)

        <h3>IT Administrator</h3>

        <ul class="duties">
            <li>Maintain/support servers, backups, network, PC, and software</li>
            <li>Manage/maintain 3com phone switch</li>
            <li>Research new technology/software and make recommendations on upgrades</li>
            <li>Work with associates directly and/or over the phone to solve issues</li>
        </ul>
        
        <hr />

    </div>


    <div class="job">

        <h2>Upstream LLC</h2> (05/02 to 01/04)

        <h3>IT Support</h3>

        <ul class="duties">
            <li>Maintain/support server backups, network, PCs and software</li>
            <li>Manage/maintain Avaya phone switch</li>
            <li>Manage/support Nice System servers, their backups and the desktop application</li>
        </ul>
        
        <hr />

    </div>


    <div class="job">

        <h2>BISYS</h2> (2/99 to 11/01)

        <h3>IT Support</h3>

        <ul class="duties">
            <li>Troubleshoot/repair computers and HP Laserjet/Inkjet printers</li>
            <li>Maintain/support Meridian Phone System</li>
            <li>Maintain Microsoft Operating Systems and Novell Netware clients on workstations</li>
        </ul>
        
        <hr />

    </div>


    <div class="job">

        <h2>Computer Network Systems</h2> (4/98 to 11/01)

        <h3>Partner | Owners</h3>

        <p>Contract work : Network and telephone cabling, Database programming, Y2K compliance testing, PC and printer troubleshooting and repair, Remote access.</p>

        <ul class="duties">
            <li>Contract for network and telephone cabling</li>
            <li>Contract for software programming</li>
            <li>Test for Y2K compliance</li>
            <li>Troubleshoot PC and printers</li>
        </ul>
        
        <hr />

    </div>


    <div class="job">

        <h2>Pro Systems Corporation</h2> (04/97 to 04/98)

        <h3>Technician | Computer Service Representative</h3>

        <ul class="duties">
            <li>Troubleshoot/build computer systems</li>
            <li>Sell computers and related items</li>
            <li>Invoice customers</li>
            <li>Maintain store inventory</li>
        </ul>

    </div>

</div>