<div id="aboutWrapper">
        
    <div id="aboutDivPhoto">
        <img id="aboutPhoto" src="/images/family1.jpg" alt="" srcset="">
    </div>

    <div id="aboutDesc">
        
        <p>Here you are, ready to read about me. This is about my family as well. I wouldn’t be where I am today without them. Although my journey begins before my wife (Holly) 
            and daughter (Avery), they play a major role in where I am today with their support. I started out my 20+ years of experience in the IT field after high school. I have 
            held various jobs in the past and even those not related to IT, I have maintained companys' servers and performed troubleshooting when needed.</p>

        <p>During those years, I met my wife online. We grew to know each other better and were married in July 2004. She is an outstanding journalist and writer. After we had been 
            married a while I started out as a CNA in a hospital and decided to go back to school to become a nurse. Our daughter was born in 2013 towards the end of my LPN schooling. 
            It was very hard raising a child, working, and completing school to achieve my RN. Holly worked full-time while Avery went to daycare. After I became an RN, we decided to 
            travel nurse, which would allow us to see different parts of the U.S. and Holly would be able to be a stay-at-home mom. Don’t be fooled by the stay-at-home part, my wife 
            did a phenomenal job of making sure our daughter experienced the different areas we lived in while traveling. I believe it is fair to say that our daughter has experienced 
            more in that amount of time than most adults have in their whole life. In 2019 we stopped travel nursing and settled in Minnesota and my wife works part-time as a freelance 
            writer and homeschools our daughter. in all, I have been a nurse for eight years, 10 years doing bedside care.</p>

        <p>Throughout my life, no matter what job or where I was located, I would always work on webpages. I would either make a webpage for myself or for others. I have found that 
            I absolutely love building websites. I have also learned through that I love working on Full Stack projects. I love to know how everything works in the back end 
            and making it work on the front-end for those that are using the created product.</p>

        <p>This site is a full-stack website using Nodejs and express along with other npm packages. I believe that fast, simple, and easy to use sites are what people are looking 
            for in their daily lives. We have all experienced those sites where you are looking and looking and clicking to try to find that one spot to submit something or to choose 
            something to put in the cart and you get frustrated because, well why isn’t it easier to do what I want to do? Keeping things simple, easy to navigate and find is my main 
            goal when I start to work on a website for someone.</p>

        <p>Thank you for going on this journey with me. I look forward to transitioning into a development career and the challenges that it has to offer. I love how I can sit down and 
            start programing and when I look up and realize that six hours have passed, I still want to continue programing and learning. I look forward to taking my passion and using it 
            for continous learning and more from what this career has to offer.</p>
    
    </div>

</div>